/* Body  */
body {
  margin: 0;
}

/* Box */
.box {
  height: 200px;
  width: 200px;
  background-color: red;
  float: left;
}

/* Big box   */
.bigbox {
  height: 400px;
  width: 400px;
  background-color: slateblue;
  overflow: hidden;
}
