body {
  margin: 0;
}
.box-one {
  height: 100px;
  width: 100px;
  background-color: cadetblue;
  margin: auto;
  margin-top: 10%;
}

.box-one {
  transform: rotate(20deg);
}

.box-two {
  height: 100px;
  width: 100px;
  background-color: royalblue;
  margin: auto;
  margin-top: 10%;
}

.box-two {
  transform: matrix(0.5123, 0.4, -0.8, 0.7, 0, 0);
}

.box-three {
  height: 200px;
  width: 200px;
  background-color: royalblue;
  margin: auto;
  margin-top: 10%;
}

.box-three {
  transform: matrix3D(
    0.5123,
    0.4,
    -0.8,
    0.7,
    0,
    0,
    0.5123,
    0.4,
    -0.8,
    0.7,
    0,
    0,
    0.5123,
    0.4,
    -0.8,
    0.7
  );
}
