#boxone {
  height: 100px;
  width: 100px;
  background-color: #6c5ce7;
}

#boxtwo {
  height: 100px;
  width: 100px;
  background-color: #00cec9;
}

#boxthree {
  height: 100px;
  width: 100px;
  background-color: #636e72;
}


