/* Resizing  */

#resizing {
  width: 50%;
  height: 50%;
}
#resizingtwo {
  width: 50%;
  height: 50%;
}

/* Selectable */
#selectable .ui-slecting {
  background-color: #2980b9;
}

#selectable .ui-selected {
  background-color: #95a5a6;
  color: #e84393;
}
/* Menu  */
.ui-menu {
  width: 300px;
}
